
md-card {
    height: 90%;
    width: 90%;
    background-color: #2c3a47;
    text-align: center;
    color: white;
    padding: 0px;
}

md-grid-list {
    margin: 30px;
    margin-bottom: 10px;
}

.title {
    background-color: #314150;
    padding: 13px;
    margin: 0px;
}

.numbers {
    margin-top: 130px;
}

#timeline {
    background-color: red;
}