
<md-grid-list [cols]="2" rowHeight="364px" gutterSize="15px">
    <md-grid-tile>
        <md-card>
            <div class="title">Conversion Rate</div>
            <div class="graph">
                <div style="display: block">
                <canvas baseChart
                    [datasets]="conversionChartData"
                    [labels]='ConversionLabels'
                    chartType='line'></canvas>
                </div>
            </div>
            <div class="numbers">
                <div class="average">Average:<br>6.42%</div>
                <div class="current">Current:<br>6.10%</div>
                <div class="change">Change:<br>-5.45%</div>
            </div>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title">Bounce Rate</div>
            <div class="graph">
                <div style="display: block">
                <canvas baseChart
                    [datasets]="bounceChartData"
                    [labels]='BounceLabels'
                    chartType='line'></canvas>
                </div>
            </div>
            <div class="numbers">
                <div class="average">Average:<br>41.37%</div>
                <div class="current">Current:<br>40.80%</div>
                <div class="change">Change:<br>-1.39%</div>
            </div>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title">Visitors</div>
            <div class="graph">
                <div style="display: block">
                <canvas baseChart
                    [datasets]="visitorChartData"
                    [labels]='VisitorLabels'
                    chartType='line'></canvas>
                </div>
            </div>
            <div class="numbers">
                <div class="average">Average:<br>17,896</div>
                <div class="current">Current:<br>18,064</div>
                <div class="change">Change:<br>0.94%</div>
            </div>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title">Revenue</div>
            <div class="graph">
                <div style="display: block">
                <canvas baseChart
                    [datasets]="revenueChartData"
                    [labels]='RevenueLabels'
                    chartType='line'></canvas>
                </div>
            </div>
            <div class="numbers">
                <div class="average">Average:<br>£72,560.26</div>
                <div class="current">Current:<br>£64,018.18</div>
                <div class="change">Change:<br>-11.77%</div>
            </div>
        </md-card>
    </md-grid-tile>
</md-grid-list>

<router-outlet></router-outlet>


<!--                <div class="average"> {{ metric.average }} </div>
                <div class="current"> {{ metric.current }} </div>
                <div class="change"> {{ metric.current / metric.average - 1 | percent:'1.1-1' }} </div>
            </div>
            -->