
md-card {
    height: 90%;
    width: 90%;
    background-color: #2c3a47;
    text-align: center;
    color: white;
    padding: 0px;
}

md-grid-list {
    margin: 30px;
    margin-bottom: 10px;
}

.title {
    background-color: #314150;
    padding: 13px;
    margin: 0px;
}

.graph {
    background-color: #293342;
}

.numbers {
    color: black;
}

.average {
    display: inline-block;
    width: 30%;
    background-color: lightgreen;
}

.current {
    display: inline-block;
    width: 30%;
    background-color: lightseagreen;
}

.change {
    display: inline-block;
    width: 30%;
    background-color: lightpink;
}