<md-sidenav-container>
  <md-sidenav mode="side" opened="true" #sidenav >
    <div class="logobox">
    </div>
  </md-sidenav>

  <md-toolbar>
    <div class="nav-left">
      <div class="home" routerLink="/">{{title}}</div>
    </div>

  <div class="nav-right">
  <my-date-range-picker [options]="myDateRangePickerOptions"
   (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
  </div>

</md-toolbar>

<div class="dates">
  <div id="embed-api-auth-container"></div>
  <div id="view-selector"></div>
</div>

<app-metric-card></app-metric-card>

</md-sidenav-container>

{{ startString }}
<br>
{{ endString }} 

<router-outlet></router-outlet>
